data_processing_trade.ipynb
data_processing_pandemic.ipynb
data_trade
train_test_pandemic.ipynb
tgn_example.ipynb
tgn_example.py
models.ipynb

#python files
variable_exporter.py

#notebooks
exploration/

# ds store
.DS_Store

# Jupyter notebook
graph_generation.ipynb

# cache
__pycache__/
__pycache__
# .venv 
.venv

